.cell {
  /* animation-name: hoverstyle; */
  animation-duration: 1ms;
  animation-play-state: paused;
  animation-fill-mode: both;
  
}
.cell:active,
.cell:focus,
.cell:hover {
  animation-play-state: running;
}

/* @keyframes hoverstyle {
    0% {
    background-color: #caffbf;
    border-color: #06d6a0;
    }
    100% {
      background-color: #06d6a0;
      border-color: #06d6a0;
    }
  } */
