body {
  margin: 0;
  padding-bottom:100px ;
  font-family: "Potta One", cursive;
  /* background-color: #e5e8ff; */
  background-color: #cdcef5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #846ffc;
  letter-spacing: 2px;
}

